{{#partial "nav_izquierda"}}
    <a href="/" class="btn btn-outline-light btn-sm d-flex align-items-center gap-2"
       title="Volver al Mapa">
        <i class="fa-regular fa-map"></i>
        <span class="d-none d-sm-block">Volver al Mapa</span>
    </a>
{{/partial}}

{{#partial "contenido"}}
    <div class="container d-flex flex-column bg-white bg-opacity-75 rounded p-3 mt-3 py-1">
        <div class="d-flex flex-row portada bg-white">
            {{perfil.foto}}
            <i class="bi bi-person-circle" style="font-size: 450%"></i>
            <h2 class="nombre-av">
                {{perfil.userName}}
            </h2>
        </div>
        <div class="d-flex flex-column datos bg-white">
            <h3 style="font-weight: 600;">Detalles de usuario</h3>
            <div class="d-flex flex-column detalles">
                <div class="d-flex flex-column">
                    <h5 style="font-weight: 700;">Correo Electrónico</h5>
                    <h6>{{perfil.email}}</h6>
                </div>
                <div class="d-flex flex-column">
                    <h5 style="font-weight: 700;">País</h5>
                    <h6>{{perfil.pais}}ARGENTINA</h6>
                </div>
                <div class="d-flex flex-column">
                    <h5 style="font-weight: 700;">Rol</h5>
                    <h6>{{perfil.rol}}</h6>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> templates/layout}}